@import "encabezado.css";
@import "mis-servicios.css";
@import "contactame.css";
@import "footer.css";


.background-img {
  background-image: url("../images/encabezado/img-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

/* Aparecer */
.element {
  opacity: 0%;
  color: black;
}
.showElement {
  opacity: 100%;
  animation-name: show;
  animation-duration: 0.9s;
}
@keyframes show {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Aparecer */
.elementLeft {
  opacity: 0%;
  color: black;
}
.showElementLeft {
  opacity: 100%;
  animation-name: showLeft;
  animation-duration: 0.9s;
}
@keyframes showLeft {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Aparecer */
.elementRight {
  opacity: 0%;
  color: black;
}
.showElementRight {
  opacity: 100%;
  animation-name: showRight;
  animation-duration: 0.9s;
}
@keyframes showRight {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}
