.contactame-title {
  color: #ffffff;
  text-align: center;
  margin-top: 120px !important;
  margin-bottom: 120px !important;
  padding: 10px;
  height: 100px;
  text-shadow: 0 0 4px black;
}
.contactame-title > h1 {
  font-size: calc(100% + 20px);
}

.main-div-contactame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactame-container {
  background-color: #ffffffd8;
  box-shadow: 0 0 3px black;
  width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.contactame-container > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactame-container > form > div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.contactame-container > div > p{
  font-size: large;
  text-align: center;
}
.contactame-container > form > div > input,
.contactame-container > form > div > textarea {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0.5px 3px;
  min-height: 40px;
  padding: 5px;
  font-size: large;
  background-color: #ffffff95
}

.btn-success {
  font-size: large;
  width: 50%;
  align-self: flex-end;
}

.btn-success > img{
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

label {
  font-weight: bold;
}
