.mis-servicios-container {
  margin-top: 100px;
  background-color: transparent;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.mis-servicios-title {
  color: #ffffff;
  text-align: center;
  margin-top: 120px !important;
  margin-bottom: 120px !important;
  padding: 10px;
  height: 100px;
  text-shadow: 0 0 4px black;
}
.mis-servicios-title > h1 {
  font-size: calc(100% + 20px);
}

.service-card,
.service-card-blue {
  height: fit-content;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 0 6px black;
  font-family: serif;
}

.service-card {
  padding: 30px 0 30px 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.844);
}
.service-card-blue {
  background-color: #004798c9;
  padding: 30px 0 30px 0;
  justify-content: flex-end;
}
@media screen and (max-width: 1000px) {
  .service-card,
  .service-card-blue {
    width: 95%;
  }
}

.container-T-B,
.container-T-W {
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: petite-caps;
  max-width: 100%;
}
.container-T-B > h2,
.container-T-W > h2 {
  font-size: x-large;
}

.container-T-B {
  color: rgb(255, 255, 255);
  background-color: #004698;
  margin-right: 20px;
  box-shadow: 1px 1px 4px black;
  border-radius: 0 10px 10px 0;
}

.container-T-W {
  color: #004798;
  background-color: white;
  margin-left: 20px;
  box-shadow: -1px 1px 4px rgb(29, 29, 29);
  border-radius: 10px 0 0 10px;
}

.intro-white,
.intro-blue {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-items: center;
  align-items: center;
}
.intro-white {
  color: black;
}
.intro-white > h4,
.intro-blue > h4 {
  font-size: 18px;
  padding: 10px;
}
.intro-white > h4 {
  border-left: solid 5px #004698;
  background-color: #00479836;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}
.intro-blue > h4 {
  border-right: solid 5px #ffffff;
  background-color: #ffffff36;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
  color: #ffffff;
}

.intro-blue > h4 > img {
  margin: 10px 10px 0 10px;
  max-width: 50%;
  float: left;
}
.intro-white > h4 > img {
  margin: 10px 10px 0 10px;
  max-width: 50%;
  float: right;
}


.intro-blue {
  color: white;
}

.ul-cap {
  list-style: none;
}
.ul-cap > li::before {
  content: "• ";
  color: #004698;
}
h3 {
  text-align: center;
  font-family: serif;
}

.arrow {
  animation: vanish 2s infinite;
}

@keyframes vanish {
  0% {
    opacity: 100%;
    transform: translateY(0px);
    width: 40px;
  }
  100% {
    transform: translateY(25px);
    width: 80px;
    opacity: 0%;
  }
}

.div-blanco {
  background-color: #ffffff;
  width: 200px;
  height: 200px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 0 6px black;
}
.div-blanco > h5 {
  color: #ffa800;
  text-align: center;
}
.div-blanco > h6 {
  color: #004698;
}

.div-azul {
  background-color: #004698;
  width: 200px;
  height: 200px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

  box-shadow: 0 0 6px black;
}
.div-azul > h6 {
  color: #ffffff;
  text-align: center;
}
.div-azul > img {
  text-align: center;
}

.h5-green {
  color: lightgreen;
  text-align: center;
}
.camaras-card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.camaras-card-title > div {
  color: #004698;
  background-color: rgb(11, 230, 11);
  width: max-content;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
}

.camaras-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  gap: 30px;
  color: #004698;
  background-color: #f6f6f6;
  border-radius: 20px;
  align-content: center;
  text-align: center;

  box-shadow: 0 0 6px black;
}

.camaras-card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.camaras-card-div > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px;
}
