@import "encabezado.css";
@import "mis-servicios.css";

/* Aparecer */
.element {
  opacity: 0%;
  color: black;
}
.showElement {
  opacity: 100%;
  animation-name: show;
  animation-duration: 0.5s;
}
@keyframes show {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
