.nav-bar {
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 10px 0 10px;
  box-shadow: 0 0 4px black;
}

.encabezado {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  background-color: #004798bb;
  box-shadow: 0 0 4px black;
  align-items: center;
}

.encabezado > h2 {
  font-size: calc(100% + 20px);
  margin: 15vh 10px 0 10px;
  color: white;
  text-align: center;
  border: solid 1.5px transparent;
  padding: 15px;
  width: 90%;

  box-shadow: 0px 0px 6px black;
  text-shadow: 0px 2px 2px black;
  background-color: rgba(65, 105, 225, 0.282);

}
@media screen and (max-width: 802px) {
  .encabezado > h2 {
    margin-top: 15vh;
  }
}

.nav-link-size {
  font-size: large;
  color: #004698;
}

.dropdown-backgroud {
  background-color: white;
}

.dropdown-backgroud > a {
  color: #004698;
}

.dropdown-backgroud > img {
  max-width: 20px;
}

.encabezado-points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 50px;
  align-items: center;
  margin-bottom: 10px;
  
}

.encabezado-points > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 15px;
  color: #004698;
  background-color: white;
  padding: 10px;
  width: 150px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 4px black;
}

.encabezado-points > div > h5 {
  font-size: calc(100% - 0.1px);
}

.encabezado-points > div > img {
  max-width: 200px;
}

/* CSS PARA EL BOTON MENU HAMBURGER */

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 30px;
  max-width: 50px;
}

.hamburger-inner-0,
.hamburger-inner-1,
.hamburger-inner-2 {
  background-color: #004698;
  position: static;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: transform, opacity, display;
}

.hamburger-inner-1 {
  width: 35px;
}

.hamburger-inner-2 {
  width: 30px;
}

.hamburger.open .hamburger-inner-0 {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}

.hamburger.open .hamburger-inner-1 {
  display: none;
}

.hamburger.open .hamburger-inner-2 {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
  width: 40px;
}
